.avatar-images {
  text-align: center;
  border: 1px solid var(--gray-border);
  border-radius: 5px;
  margin: var(--margin-width);
  padding: 1rem;
  display: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.avatar > * {
  margin: 20px;
}
.avatar-sm {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.avatar-md {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.avatar-lg {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
.letter-avatar {
  background-color: var(--avatar-letter-bg-color);
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
}

@media only screen and (max-width: 550px) {
  .avatar-images {
    flex-direction: column;
    justify-content: space-around;
  }
  .avatar {
    flex-direction: column;
    justify-content: space-around;
  }
}
